<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="O365Site" value="https://<tenant-name>.sharepoint.com/"/>
    <add key="O365User" value="<user>@<tenant-name>.onmicrosoft.com"/>
    <add key="O365Password" value=""/>
  </appSettings>
</configuration>